/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: Manrope;
		font-weight: 400;
		src: url(/fonts/Manrope.woff2) format('woff2'), url(/fonts/Manrope.ttf) format('ttf');
	}
}
